<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job Application Tracker</title>
        <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
        <h1>Job Application Tracker</h1>
        <button id="add-application-button">Add Application</button>
        <div id="add-modal" hidden>
            <div class="modal-content">
                <h2>Add Application</h2>
                <form id="add-application-form" action="{{ url_for('add_application')}}" method="POST">
                    <label>Company</label>
                    <input type="text" name="company" required>

                    <label>Job Title</label>
                    <input type="text" name="job_title" required>

                    <label>Location</label>
                    <input type="text" name="location" required>

                    <label>Applied Date</label>
                    <input type="date" name="applied_date" required>

                    <label>Status</label>
                    <select name="status">
                        <option>Applied</option>
                        <option>Interview</option>
                        <option>Offer</option>
                        <option>Accepted</option>
                        <option>Rejected</option>
                        <option>Withdrawn</option>
                        <option>No Response</option>
                    </select>

                    <label>Remarks</label>
                    <input type="text" name="remark">

                    <button type="button" id="cancel-add-button">Cancel</button>
                    <button type="submit">Save</button>
                </form>                
            </div>            
        </div>

        <div id="edit-modal" hidden>
            <div class="modal-content">
                <h2>Edit Application</h2>

                <form id="edit-application-form" action="{{url_for('edit_application')}}" method="POST">
                    <input type="hidden" id="edit-id" name="application_id">

                    <label>Company</label>
                    <input type="text" id="edit-company" name="company">

                    <label>Job Title</label>
                    <input type="text" id="edit-job-title" name="job_title">

                    <label>Location</label>
                    <input type="text" id="edit-location" name="location">

                    <label>Applied Date</label>
                    <input type="date" id="edit-date" name="applied_date">

                    <label>Status</label>
                    <select id="edit-status" name="status">
                        <option>Applied</option>
                        <option>Interview</option>
                        <option>Offer</option>
                        <option>Accepted</option>
                        <option>Rejected</option>
                        <option>Withdrawn</option>
                        <option>No Response</option>
                    </select>

                    <label>Remarks</label>
                    <input type="text" id="edit-remark" name="remark">

                    <button type="button" id="cancel-edit-button">Cancel</button>
                    <button type="submit">Save</button>
                </form>

            </div>
        </div>
            
        <div id="delete-modal" hidden>
            <div class="modal-content">
                <h2>Delete Application</h2>
                <form id="delete-application-form" action="{{url_for('delete_application')}}" method="POST">
                    <input type="hidden" id="delete-id" name="application_id">
                    <button type="button" id="cancel-delete-button">Cancel</button>
                    <button type="submit">Confirm Delete</button>
                </form>
            </div>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company</th>
                    <th>Job Title</th>
                    <th>Location</th>
                    <th>Applied Date</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{application[0]}} </td> <!-- inserting data in first column --> 
                    <td>{{application[1]}} </td> <!-- inserting data in second and so on column --> 
                    <td>{{application[2]}} </td>
                    <td>{{application[3]}} </td>
                    <td>{{application[4]}} </td>
                    <td>
                        <form action="{{url_for('update_status',application_id=application[0])}}" method="POST">
                        <select name="status" onchange="this.form.submit()">
                            <option {% if application[5] == "Applied"%} selected {% endif %}>Applied</option>
                            <option {% if application[5] == "Interview" %} selected {% endif %}>Interview</option>
                            <option {%  if application[5] == "Offer" %} selected {% endif %}>Offer</option>
                            <option {% if application[5] == "Accepted" %}selected{% endif %}>Accepted</option>
                            <option {% if application[5] == "Rejected" %}selected{% endif %}>Rejected</option>
                            <option {% if application[5] == "Withdrawn" %}selected{% endif %}>Withdrawn</option>
                            <option {% if application[5] == "No Response" %}selected{% endif %}>No Response</option>
                        </select>
                        </form>
                    </td>
                    <td>{{application[6]}} </td>
                    <td>
                        <details>
                            <summary>Actions</summary>
                            <button type="button"
                            class="edit-button"
                            data-id="{{application[0]}}"
                            data-company="{{application[1]}}"
                            data-job-title="{{application[2]}}"
                            data-location="{{application[3]}}"
                            data-date="{{application[4]}}"
                            data-status="{{application[5]}}"
                            data-remark="{{application[6]}}"
                            >Edit</button>
                            <button type="button"
                            class="delete-button"
                            data-id="{{application[0]}}">
                                Delete
                            </button>
                        </details>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="{{ url_for('static',filename='script.js')}}"></script>
    </body>
</html>